<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <!-- the targets to write to -->
  <targets>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger:padding=45}|${message}" >
      <highlight-row condition ="equals('${logger}','TMPApplication.TMPApp')" foregroundColor="DarkYellow" />
      <highlight-row condition ="equals('${logger}','TMP.UI')" foregroundColor="DarkGreen" />
      <highlight-word text ="OnBytesReceived" foregroundColor="Blue" />
      <highlight-word text ="bytes as hex:" foregroundColor="Cyan" />
    </target>
    <!-- write logs to file -->
    <target name="logfile" xsi:type="File" fileName="${logger}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} |${all-event-properties} ${exception:format=tostring}" />
    <target name="errorFile" xsi:type="File"
            layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
            fileName="${basedir}/log-error.log" keepFileOpen="false" encoding="utf-8" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="coloredConsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!-- logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="errorFile" / -->
  </rules>
</nlog>