<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMP.Work.Emcos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TMP.Work.Emcos.Properties.Settings>
      <setting name="ServerAddress" serializeAs="String">
        <value>10.96.18.16</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>sbyt</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>sbyt</value>
      </setting>
      <setting name="NetTimeOutInSeconds" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="BalansPointsFileName" serializeAs="String">
        <value>DataModel.xml</value>
      </setting>
      <setting name="SessionFileName" serializeAs="String">
        <value>session</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1400</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ReportBalansPSFolder" serializeAs="String">
        <value>d:\Документы ОС\«БАЛАНСЫ, ПЕРЕТОКИ, ПОТЕРИ»\ОДС\Расчёт баланса 6-10кВ по ПС 35-110кВ</value>
      </setting>
      <setting name="ReportBalansPSFileNameTemplate" serializeAs="String">
        <value>Расчёт баланса 6-10 за {0:MM - yyyy}</value>
      </setting>
    </TMP.Work.Emcos.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
