<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMP.Work.Emcos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TMP.Work.Emcos.Properties.Settings>
        <setting name="ServerAddress" serializeAs="String">
            <value>10.96.18.16</value>
        </setting>
        <setting name="UserName" serializeAs="String">
            <value>sbyt</value>
        </setting>
        <setting name="Password" serializeAs="String">
            <value>sbyt</value>
        </setting>
        <setting name="NetTimeOutInSeconds" serializeAs="String">
            <value>1800</value>
        </setting>
        <setting name="BalansPointsFileName" serializeAs="String">
            <value>DataModel.json.gz</value>
        </setting>
        <setting name="SessionFileName" serializeAs="String">
            <value>session</value>
        </setting>
        <setting name="MainWindowTop" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="MainWindowLeft" serializeAs="String">
            <value>50</value>
        </setting>
        <setting name="MainWindowHeight" serializeAs="String">
            <value>600</value>
        </setting>
        <setting name="MainWindowWidth" serializeAs="String">
            <value>1500</value>
        </setting>
        <setting name="MainWindowState" serializeAs="String">
            <value>Normal</value>
        </setting>
        <setting name="ReportBalansPSFolder" serializeAs="String">
            <value>d:\Документы ОС\«БАЛАНСЫ, ПЕРЕТОКИ, ПОТЕРИ»\ОДС\Расчёт баланса 6-10кВ по ПС 35-110кВ</value>
        </setting>
        <setting name="ReportBalansPSFileNameTemplate" serializeAs="String">
            <value>Расчёт баланса 6-10 за {0:MM - yyyy}</value>
        </setting>
        <setting name="ServiceName" serializeAs="String">
            <value>testWebService/Service.asmx</value>
        </setting>
        <setting name="SiteName" serializeAs="String">
            <value>emcos</value>
        </setting>
    </TMP.Work.Emcos.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" maxReceivedMessageSize="1024000000" maxBufferSize="1024000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.96.18.16/testWebService/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="EmcosTestWebService.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
