<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TMP.WORK.AramisChetchiki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TMP.WORK.AramisChetchiki.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AramisDBPath" serializeAs="String">
                <value>d:\aramis\Disks\OSHM\aramis</value>
            </setting>
            <setting name="DataFilesStorePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedDataFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCellSelectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfApartmentsInAnApartmentBuilding" serializeAs="String">
                <value>16</value>
            </setting>
        </TMP.WORK.AramisChetchiki.Properties.Settings>
    </userSettings>
<startup></startup></configuration>
